.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1;
    height: 175px;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
}
